@charset "UTF-8";

*{
    height: auto;
}

body{
    background-image: linear-gradient(to left, #FAD896, #94722F);
}

main{
    background-color: white;
    margin: auto;
    width: 800px;
    border-radius: 2%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: #C78400;
    text-shadow: 1px 1px 1px #c785009f;
}

h2{
    color: #003380;
}

p{
    text-align: justify;
}